black~=22.0
flake8>=3.7.9, <5.0
ipython>=7.31.1, <8.0
isort~=5.0
kedro~=0.18.4
kedro-telemetry~=0.2.0
kedro-datasets
nbstripout~=0.4
pytest-cov~=3.0
pytest-mock>=1.7.1, <2.0
pytest
redis
celery[pytest]
uvicorn[standard]
strawberry-graphql
fastapi
pymongo
python-dotenv
pytest-asyncio