asyncio~=3.4.3
boto3>=1.26
ipython~=8.24.0
kedro~=0.19.6
kedro-datasets~=3.0.0
nbstripout~=0.7.1
redis~=5.0.4
celery~=5.4.0
click~=8.1.7
uvicorn[standard]~=0.30.0
strawberry-graphql~=0.233.0
s3fs>=2023.5
fastapi~=0.111.0
pymongo~=4.7.2
python-dotenv~=1.0.1
pytest-asyncio~=0.23.7
gql~=3.5.1